.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .container {
    padding: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    justify-content: flex-end;
    align-items: center;
  }

  ul li {
    margin-right: 2rem;
    padding: 1rem 0;
    margin-bottom: 0;
  }

  ul a {
    text-decoration: none;
    color: #202020;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }

  ul a:hover {
    border-bottom: 2px solid blue;
  }
}
